.nav-item.cart {
  position: relative;
}
.cart-menu-nav {
  position: absolute;
  z-index: 9;
  background: lightgoldenrodyellow;
  translate: -75% -2%;
  width: 300px;
}

.filter-wrapper {
  left: 0;
  margin-top: 35px;
  max-width: 250px;
  background: white;
  z-index: 9;
  padding: 6px 15px;
  border: 1px solid gainsboro;
  box-shadow: 0px 2px 5px 0px;
  height: 100%;
}
.fixed-top-filter {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 0 !important;
}
.filter-wrapper {
  position: absolute;
}

.star-rating {
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
  position: relative;
  unicode-bidi: bidi-override;
  color: #ccc; /* Unfilled star color */
}

/* Filled star color for the rating */
.star-rating::before {
  content: "★★★★★";
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: var(--rating); /* Width based on rating percentage */
}
